<div x-ng-app="resource-app" class="resources_index_container">
	<h1>WEsources</h1>	
	<div x-ng-controller="ResourceCtrl">
		<div x-ng-show="errors" class="alert alert-danger alert-dismissable">
	        <button type="button" class="close" x-ng-click="clearErrors();" aria-hidden="true">&times;</button>
	      	<ul>
		        <li x-ng-repeat="(attribute, error) in errors">
		          {{attribute}} {{error.join(", ")}}
		        </li>
	        </ul>
	    </div>
	<div class="form-group">
        <input x-ng-model="search" type="text" class="form-control" placeholder="Search WEsource">
    </div>
    <div class="wesource_form_container small-6 columns">
    	<h3>New WEsource</h3>
	    <form x-ng-submit="saveResource();" class="form-group">
	      <input x-ng-model="newResource.title" name="title" class="form-control small-6 columns" placeholder="Title">
	      <input x-ng-model="newResource.language" name="language" class="form-control small-6 columns" placeholder="Language">
	      <input x-ng-model="newResource.link" name="link" class="form-control small-6 columns" placeholder="Link">
	      <input x-ng-model="newResource.note" name="note" class="form-control small-6 columns" placeholder="Notes"> <br />
	      <input type="submit" value="Add New WEsource!" class="button small">
	    </form>
    </div>
    	<div class="resource_container small-6 columns">
			<table>
				<tr>
					<th>Title</th>
					<th>Language</th>
					<th>Link</th>
					<th>Note</th>
				</tr>
				<tr x-ng-repeat="resource in resources | filter:search">
					<td> {{resource.title}} </td>
				 	<td> {{resource.language}} </td>
				 	<td> {{resource.link}} </td>
				 	<td> {{resource.note}} </td>
				</tr>
			</table>	

		</div>
	</div>	
</div>


