// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#resource_img {
	width: 4em;
	height: 4em;
}

.search_bar {
	width: 70%;
}

#wesource_logo {
	height: 2.3em;
}

#wesource_menu {
	height: 3em;
}