// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Josefin Sans', sans-serif;
}
/***********   Search Form   ***********/

.search_container { 
	margin-top: 20px;
	h3 {
		font-family: 'Josefin Sans', sans-serif;
	}
	.search_bar {
		margin-top: 20px;
	}
}

/***********   New Wesource Section   ***********/

.wesource_form_container {
	h3 {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
	}
}

/***********   Images   ***********/

#wesource_img {
	width: 4em;
	height: 4em;
}

#wesource_logo {
	height: 2.3em;
}

#wesource_menu {
	height: 3em;
}

/***********   Wesource   ***********/
	
.wesource_container {
	height: 480px;
	overflow-y: scroll;
	h1 {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
	}
}

table {
	tbody {
		background-color: #4BBDFD;

	}
}

.table_headers {
	th {
		font-size: 1.3em;
	}
}

#resource_table {
	background-color: black;
}

#link_container {
	width: 5em;
}
